.reveal .slide-number {
    font-size: 40pt;
    color: #ffffff;
}

.reveal section p,
.reveal section li {
    font-size: 0.8em !important;
}

.reveal section p.small-text {
    font-size: 0.5em !important;
}